body {
  overflow: hidden;
  background: #09090b; /* zinc-950 */
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 20;
  vertical-align: middle;
  line-height: 1;
}
